@media (max-width:576px) {
  .menu-toggle~#menu li {
    display: none;
  }

  .menu-toggle~#menu li:first-child {
    display: inline-block;
  }

  .menu-toggle:checked~#menu li {
    display: block;
  }
}

@media not (max-width:576px) {
  .navbar-menu li {
    display: inline-block;
  }

  .navbar-menu li:first-child {
    display: none;
  }
}

.menu-toggle-label {
  cursor: pointer;
}

.menu-toggle-icon {
  vertical-align: middle;
}
