body,hr,html {
    height: 100%;
    margin: 0!important;
    padding: 0!important
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.2;
    text-align: center
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid;
    border-color: inherit
}

.container {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em
}

.navbar {
    overflow: hidden;
    top: 0;
    width: 100%
}

.center-text {
    text-align: center
}

.text-break {
    word-wrap: break-word
}
