<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TITLE</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta name="author" content="Mikołaj B. Lenczewski" />
    <meta name="description" content="My Personal Website" />
    <meta name="kewords" content="Mikolaj Lenczewski, Mikolaj Lenczewski Blog, Mikołaj Lenczewski, LMikołaj Lenczewski Blog" />

    <link href="/favicon.ico" rel="icon" type="image/ico" />
    <link href="/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16" />
    <link href="/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32" />
    <link href="/favicon-96x96.png" rel="icon" type="image/png" sizes="96x96" />

    <link href="/css/style.css" rel="preload" as="style" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/theme.css" rel="preload" as="style" />
    <link href="/css/theme.css" rel="stylesheet" />
    <link href="/css/layout-util.css" rel="preload" as="style" />
    <link href="/css/layout-util.css" rel="stylesheet" />
    <link href="/css/sunburst.css" rel="preload" as="style" />
    <link href="/css/sunburst.css" rel="stylesheet" />

    <link href="/lib/highlight/highlight.pack.js" rel="preload" as="script" />
    <script src="/lib/highlight/highlight.pack.js"></script>
    <link href="/js/script.js" rel="preload" as="script" />
    <script src="/js/script.js"></script>
  </head>
  <body>
    <input type="checkbox" class="theme-toggle" id="theme-toggler" />
    <div id="themed">
      <header>
        <div class="navbar" style="padding: 0; margin: 0;">
          <nav style="display: flex; justify-content: space-between;">
            <div style="padding-left: 1em;">
              <a href="/index.html">Index</a> | 
              <a href="/posts.html">Blog</a> | 
              <a href="/projects.html">Projects</a> | 
              <a href="/cv.pdf">CV</a>
            </div>
            <label class="theme-toggle-label" style="padding-right: 1em;" for="theme-toggler">
              <span class="d-none d-lg-block d-xl-block">Toggle theme::</span>
            </label>
          </nav>
          <hr />
        </div>
      </header>
      <main>
PLACEHOLDER
      </main>
      <footer>
        <hr />
        <div class="center-text" style="vertical-align: middle;"> 
          <span>Mikołaj B. Lenczewski</span> | 
          <a href="http://ajukvz67jzqs7cwrw4s7fn7pvjcbwrhuh4sfbeq4g6qtdzblljbjc2id.onion/">Tor Site</a>
        </div>
      </footer>
    </div>
  </body>
</html>
