<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TITLE</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta name="author" content="Mikołaj B. Lenczewski" />
    <meta name="description" content="My Personal Website" />
    <meta name="kewords" content="Mikolaj Lenczewski, Mikolaj Lenczewski Blog, Mikołaj Lenczewski, Mikołaj Lenczewski Blog" />

    <link href="/favicon.ico" rel="icon" />

    <link href="/css/style.css" rel="preload" as="style" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/theme.css" rel="preload" as="style" />
    <link href="/css/theme.css" rel="stylesheet" />
    <link href="/css/menu.css" rel="preload" as="style" />
    <link href="/css/menu.css" rel="stylesheet" />
    <link href="/css/layout-util.css" rel="preload" as="style" />
    <link href="/css/layout-util.css" rel="stylesheet" />
    <link href="/css/sunburst.css" rel="preload" as="style" />
    <link href="/css/sunburst.css" rel="stylesheet" />

    <link href="/lib/highlight/highlight.pack.js" rel="preload" as="script" />
    <script src="/lib/highlight/highlight.pack.js"></script>
    <link href="/js/script.js" rel="preload" as="script" />
    <script src="/js/script.js"></script>
  </head>
  <body>
    <input type="checkbox" class="input-hidden theme-toggle" id="theme-toggler" />
    <div id="themed">
      <header>
        <nav class="spaced-flex menu-container">
          <ul id="menu">
            <li><a href="/index.html">Index</a></li>
            <li><a href="/posts.html">Blog</a></li>
            <li><a href="/index.html#projects">Projects</a></li>
            <li><a href="/cv.pdf">CV</a></li>
          </ul>
          <label class="theme-toggle-label" for="theme-toggler"></label>
        </nav>
        <hr />
      </header>
      <main>
PLACEHOLDER</main>
      <footer>
        <hr />
        <div class="center-text"> 
          <span>Mikołaj B. Lenczewski</span> | 
          <a
            href="http://ajukvz67jzqs7cwrw4s7fn7pvjcbwrhuh4sfbeq4g6qtdzblljbjc2id.onion/"
            target="_blank" rel="noopener noreferrer">
            Tor Site
          </a>
        </div>
      </footer>
    </div>
  </body>
</html>
